#chat {
    width: 100%;
    min-height: 80vh;
    background: rgb(227, 227, 227);
    border-color: black;
}

#message-field {
    width: 100%;
    display: block;
    margin-top: 10px;
    font-size: 18px;
    font-weight: bolder;
}

.message-row {
    display: flex;
}

.sender {
    margin-right: 10px;
    flex-shrink: 0;
    font-weight: bolder;
}

.message {
    font-size: 15px;
    flex-grow: 1;
}